body {

	#app {

		opacity: 1;
		width: 90%;
		max-width: 1200px;
		min-height: 100%;
		height: auto !important;
		margin: 0 auto;
		margin-bottom: -50px;
		padding: 0;
		position: relative;
		background: pink;
		#page {
			background: gray;

		}

		#page-inner {
			background: #f1f1f1;

			.container {
				margin: 0;
				padding: 0;
			}
		}
	}
}



.discs {
	width: 100%;
	float: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.disc {
		width: 30%;
		float: left;
		margin: 1% 1% 5% 1%;

		img {
			width: 100%;
		}

		.disc-info {
			h2 {
				margin-bottom: 0;
			}

			h2, p.manufacturer {
				margin-top: 0;
			}

			p.weight {
				float: right;
				font-size: 1.5em;
				font-weight: bold;
				text-align: right;
			}

			.type {
				float: right;
				font-size: 0.7em;
				font-weight: normal;
			}

			.specs {
				float: left;
				width: 100%;

				.attribute {
					float: left;
					width: 50%;
					height: 35%;

					h3, p {
						font-size: 1em;
						padding: 10px;
						text-align: center;
					}

					p {
						font-size: 2em;
					}

					&.speed {
						background: #46af5c;
					}

					&.glide {
						background: #cd9327;

					}

					&.stability {
						background: #24a2dc;
					}

					&.fade2 {
						background: #e6de47;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 854px) {

	.discs {
		width: 100%;
		clear: both;

		.disc {
			width: 100%;
		}
	}
}